.label {
  background-color: var(--hover-gray);
  color: var(--secondary-text-clr);
  font-weight: 500;
  padding: .4rem;
  width: fit-content;
  font-size: .8rem;
  line-height: .8rem;
  border-radius: var(--border-radius);
}