.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--secondary-bg-clr);
  height: 100%;
  width: 210px;
  padding: 1rem .8rem;
  border-right: 1px solid var(--hover-gray);

  .upper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .logo {
      font-weight: 700;
    }

    .user {

      display: flex;
      flex-direction: row;
      gap: 8px;
      overflow: hidden;

      >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-weight: 500;
          font-size: .9rem;
          line-height: 1rem;
          margin: 0;
        }

        p {
          font-weight: 400;
          font-size: .8rem;
          line-height: 1rem;
          margin: 0;
        }
      }


      img {
        width: 40px;
        height: auto;
        border-radius: var(--border-radius);
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.menu-link {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: var(--border-radius);
  align-items: center;
  cursor: pointer;
  padding: .5rem .7rem;

  span {
    font-weight: 500;
    font-size: .8rem;
  }

  &:hover {
    background-color: var(--hover-gray);
  }

  &.active {
    background-color: var(--accent-clr-soft);
    color: var(--accent-clr);
  }
}

.extended-sidebar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 260px;
  border-right: 1px solid var(--hover-gray);
  height: 100%;
  padding: 1rem 1rem;

  h1.title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}