main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;

  .header {

    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 55px;
    border-bottom: 1px solid var(--hover-gray);

    h1.title {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0;
    }
  }

}