:root {
  --accent-clr: #1a96b1;
  --accent-clr-soft: #46b1c92a;

  --primary-bg-clr: white;
  --secondary-bg-clr: #f8f9fb;
  --hover-gray: #f0f2f7;

  --primary-text-clr: black;
  --secondary-text-clr: rgba(0, 0, 0, 0.578);

  --border-radius: 5px;
}